/* ------------------------------ */
/* #1 Éléments */
/* #2 Forme */
/* #3 Position */
/* #4 Margin - Padding */
/* #5 Animations */
/* ------------------------------ */

/* ---ERROR---------------------- */
.error {
	/* #1 Éléments */
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Forme */
	width: calc(100% - 10px);
	height: calc(100% - 20px);

	/* #3 Position */
	align-self: center;
	translate: 0 -50px;
}